body {
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    display: flex;
}

div {
    flex-direction: row;
}

/* Style for location */

.container-location {
    width: 30%;
}

.location, 
.temperature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    background-color: #fff;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.temperature {
    flex-direction: column;  
}

.temperature-description,
.location-name {
    font-size: 20px;
    font-style: italic;
}

.degree-section,
.location-name  {
    display: flex;
    align-items: center;
}

.location h2 {
    color: #A52A2A;
}

/* Style for main */

.main-container {
    width: 100%;
}

.search-contain {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

#search-input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding: 5px 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    border: 1px solid #A52A2A;
}

.search-control {
    margin: 5px 5px;
    width: 70px;
    height: 45px;
    font-size: 20px;
    border-radius: 10%;
    border: 1px solid #A52A2A;
    color: #A52A2A;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-control:hover,
.remove:hover,
.refresh:hover {
    background-color: #A52A2A;
    color: #fff;
}

.weather-container {
    width: 40%;
    margin: auto 22%;
    font-size: 25px;
}

.city-weather {
    border-radius: 5px;
    border: 1px solid #A52A2A;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.city-name {
    text-align: left;
    margin: 10px;
}

.remove,
.refresh {
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #A52A2A;
    color: #A52A2A;
    cursor: pointer;
    background-color: #fff;
    margin: 10px 5px;
    width: 100px;
}

/* Style for currency*/

.container-currency {
    font-size: 20px;
    margin: 30px 20px;
}

.currency {
    background-color: #fff;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

table {
    text-align: center;
    width: 300px;
}

td {
    border-bottom: 1px solid #000;
    height: 30px;
}

tr {
    border-bottom: 1px solid #000;
}



div {
    flex-direction: row;
    margin: 10px 5px;
    text-align: center;
}

h3 {
    color: #A52A2A;
}